
.swiper-wrapper{
    height: 100% !important;
    display: flex;
    align-items: center;

}
.mySwiper{
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.character-info{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.img-character{
    border-radius: 5px;
    object-fit: contain !important;
}
.wr-characters{
    padding: 30px 0 ;
}
.no-img2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dadee3;
    width: 230px;
    height: 300px;
}
@media screen and (max-width: 770px){
    .mySwiper{
        height: 600px;
    }
}