.swiper-slide{
    width: 235px !important;
    height: 370px;
    margin-right: 45px !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.swiper-wrapper{
    height: 460px;
    display: flex;
    align-items: center;

}
.character-info{
    display: flex;
    height: 100px;
    align-items: center;
    flex-direction: column;
    background-color: #282525;
    width: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
.img-character{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 50% !important;
    height: 300px !important;
    object-fit: contain !important;
}
.no-img2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dadee3;
    width: 230px;
    height: 300px;
}