header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.sidebar{
    display: flex;
    align-items: center;
    gap: 10px;
}