footer{
    background-color: black;
}
.link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}
.inner-link{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}
.contact{
    display: flex;
    align-items: center;
    gap: 10px;
}
.developers-info{
    display: flex;
    justify-content: space-around;
    padding: 10px 0 ;
}